@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html[data-theme] {
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --depth: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  all: unset;
  background-color: var(--color-error) !important;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

* {
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Nunito", sans-serif;
  transition-property: color, background-color, border-color, box-shadow,
    opacity, scale, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@theme {
  --animate-wiggle: wiggle 0.5s linear forwards;
  @keyframes wiggle {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}